body {background-color: black;}
h1   {color: lightgreen;
     text-align: center;
      font-family: groovy script, comic sans ms;}
  
p    {color: lightgreen;
     font-family: groovy script, comic sans ms;}
  table {
  font-family: groovy script, comic sans ms;
  border-collapse: collapse;

  width: 100%;
}
td, th {
    border: 1px solid #023020;
    text-align: left;
    padding: 8px;
     font-family: groovy script, comic sans ms;
  }
  
  tr:nth-child(even) {
    background-color: #00FF00;
  }
    tr:nth-child(odd) {
    background-color: #00FF00;
  }